<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="/public/css/pico.min.css">
    <link rel="stylesheet" href="/public/css/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/public/favicon.png">
    <title>{{app_name}}</title>
</head>
<body>
<main class="container">
    <dialog open>
        <article>
            <header>
                <a href="/" aria-label="Close" rel="prev"></a>
                <p>
                    {{#if errors}}
                        <strong>🥺 Oops!</strong>
                    {{else}}
                        <strong>😁 Yay!</strong>
                    {{/if}}
                </p>
            </header>
            {{#if message}}
                <p>{{message}}</p>
            {{/if}}
            <ul>
                {{#each errors}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </article>
    </dialog>
</main>
</body>
</html>