video {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
    background-color: black;
}

.apptitle:hover {
    cursor: pointer;
}

.search-result {
    text-align: left;
    width: 100%;
    margin-bottom: 3px;
}

.error-message {
    background: #6b0101;
}